.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
}

.content-container {
  font-family: 'Roboto';
}

.courses-heading {
  color: #1e293b;
  font-size: 24px;
  margin-top: 20px;
  padding: 10px 40px;
}

.tech-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
